
.formulario{
    p{
        font-size: 2.4rem;
        color: $grisOscuro;
        margin: 2rem 0 0 0;
    }
    legend{
        font-size: 2.4rem;
        color: $grisOscuro;
    }
    label{
        font-weight: $p_semi;
        text-transform: uppercase;
        display: block;
    }
    input:not([type="submit"]),
    textarea,
    select{ //selector de atributo: va aplicar los cambios a todos los input, menos al de atributo submit
        padding: 1rem;
        display: block;
        width: 100%;
        background-color: $blanco;
        border: 1px solid $gris;
        border-radius: 1rem;
        margin-bottom: 2rem;
    }
    textarea{
        min-height: 20rem;
        min-width: 100%;

    }
    .forma-contacto{
        max-width: 30rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}