
.icono{
    text-align: center;
    img{
        height: 10rem;
    }
    h3{
        text-transform: uppercase;

    }
    p{
        font-weight: $i_delgada;
        font-size: 1.5rem;
    }
}

@include tablet{
    .iconos-nosotros{
        @include grid(3,2rem);
    }
}
